<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.aempathy.empushy">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions" />

    <application>
        <service
            android:name=".services.EmpushyNotificationService"
            android:enabled="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <receiver
            android:name="eu.aempathy.empushy.services.BootReceiver"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity
            android:name=".activities.DetailActivity"
            android:theme="@style/EmpushyTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activities.AuthActivity"
            android:theme="@style/EmpushyTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>